[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule ".vim/pack/utils/start/wayland-clipboard"]
	path = .vim/pack/utils/start/wayland-clipboard
	url = https://github.com/jasonccox/vim-wayland-clipboard
[submodule ".vim/pack/utils/start/fugitive"]
	path = .vim/pack/utils/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/utils/start/gitgutter"]
	path = .vim/pack/utils/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/utils/start/tagbar"]
	path = .vim/pack/utils/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/utils/start/healthcheck"]
	path = .vim/pack/utils/start/healthcheck
	url = https://github.com/rhysd/vim-healthcheck
	ignore = dirty
[submodule ".vim/pack/utils/start/commentary"]
	path = .vim/pack/utils/start/commentary
	url = https://github.com/tpope/vim-commentary
