[user]
  name = djlee
  email = moovinzoo@gmail.com
[credential]
  helper = store
[init]
  defaultBranch = main
[core]
  pager = env LESS="" delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  line-numbers = false
  side-by-side = false
  paging = always
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[alias]
  # Smart log navigator with preview supported
  fzf = !" \
    function gfzf() { \
    local filter; \
    if [ -n $@ ] && [ -e $@ ]; then \
    filter=\"-- $@\"; \
    fi; \
    export LESS='-R' \
    export BAT_PAGER='less -S -R -M -i'; \
    git log \
    --graph --color=always --abbrev=7 \
    --format=format:\"%C(bold blue)%h%C(reset) %C(bold yellow)%d%C(reset) %C(white)%s%C(reset) %C(bold green)(%ar)%C(reset)\" $@ | \
    fzf --ansi --no-sort --layout=reverse --tiebreak=index \
    --preview=\"f() { set -- \\$(echo -- \\$@ | rg -o '\\b[a-f0-9]{7,}\\b'); [ \\$# -eq 0 ] || git show --color=always \\$1 $filter | delta --line-numbers; }; f {}\" \
    --bind=\"ctrl-d:half-page-down,ctrl-u:half-page-up,ctrl-j:preview-down,ctrl-k:preview-up,ctrl-f:preview-page-down,ctrl-b:preview-page-up\" \
    --bind=\"ctrl-m:execute: \
    (rg -o '\\b[a-f0-9]{7,}\\b' | head -1 | \
    xargs -I % -- git show --color=always %) << 'FZFEOF'\n \
    {} \
    \nFZFEOF\" \
    --bind=\"ctrl-y:execute-silent: \
    (rg -o '\\b[a-f0-9]{7,}\\b' | head -1 | tr -d \\$'\\n' | clipboard) << 'FZFEOF'\n \
    {} \
    \nFZFEOF\" \
    --preview-window=bottom:75%; \
    }; \
    gfzf \
    "
#                --format=format:\"%C(bold blue)%h%C(reset) %C(dim white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(white)%s%C(reset) %C(bold green)(%ar)%C(reset)\" $@ | \

  # show recent branches
  short-recent = "for-each-ref --count=25 --sort=committerdate refs/heads/ --format='%(refname:short)'"

  # fuzzy switch brach
  fco = "!git short-recent | fzf --print0 | xargs -0 -t git checkout"

  cm = commit -m
