**/.netrwhist
**/tags

.config/zoom.conf
.config/zoomus.conf
.config/Unknown\ Organization/zoom.conf

.config/QtProject.conf

.config/VirtualBox

.config/chrome-flags.conf
.config/google-chrome
.config/trash

.config/dolphinrc
.config/kde.org
.config/kdeglobals
.config/kconf_updaterc
.config/session

.config/via-nativia

.config/scripts/hypr_brightness

.config/dconf

.config/cef_user_data

.config/copyq

.config/ibus

.config/gatsby

.config/kitty/themes/*
!.config/kitty/themes/current-theme.conf

# exclude metadata
.config/xournalpp/metadata

# exclude private assets
.config/qutebrowser/bookmarks/urls
